<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabalhoPaulinho"
        tools:targetApi="31">
        <activity
            android:name=".ConsultaPedidoActivity"
            android:exported="false"
            android:label="Consultar Pedidos"/>
        <activity
            android:name=".CadastroDePedidosActivity"
            android:exported="false"
            android:label="Lançamento de Pedidos" />
        <activity
            android:name=".CadastroItemActivity"
            android:exported="false"
            android:label="Cadastro de Vendas" />
        <activity
            android:name=".CadastroClienteActivity"
            android:exported="false"
            android:label="Cadastro de Clientes" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>